* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c3cfe2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  background-color: whitesmoke;
  margin-left: 40px;

  border: 2px solid black;
}

#ingevoerdeLijst {
  margin-right: 100px;
  max-width: 500px;
  margin-top: 10px;
  background-color: lightblue;
  border: 20px solid lightblue;
  margin-left: 40px;

  list-style: none;
}

.todoItem {
  background-color: whitesmoke;

  border: 1px solid blue;
  display: flex;
  justify-content: left;
  list-style: none;
}

#myForm {
  margin-top: 10px;
  margin-left: 60px;
}

button {
  background-color: green;
}

.todoItem {
  min-width: 200px;
}
